.item-inputs > * {
  margin: 0;
}

input:disabled {
  background-color: var(--muted-border-color);
  opacity: 1;
}

button {
  transition: var(--transition);
  opacity: 0.75;
}

button:hover {
  opacity: 1;
}

i {
  color: var(--h4-color);
  font-size: 1.25rem;
}

label {
  display: none;
  padding-inline: 0.5rem;
}

@media screen and (max-width: 832px) {
  label {
    display: block;
  }
  input {
    grid-column: 2/4;
  }
  .short-input {
    grid-column: 2/3;
  }
  button {
    grid-column: 1/4;
  }
  .item-inputs {
    padding: 0.5rem;
    border: 2px solid var(--muted-border-color);
    border-radius: var(--border-radius);
  }
}
