nav {
  border-bottom: 2px solid var(--primary-focus);
  background-color: var(--code-background-color);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}

nav label {
  display: flex;
  align-items: center;
  padding-top: 0.325rem;
}

h1 {
  margin: 0;
}

a,
a > h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

i {
  padding-left: 0.25rem;
  padding-bottom: 0.125rem;
  font-size: 1.5rem;
  color: var(--h1-color);
}
