@inject IJSRuntime JsRuntime

<nav class="container-fluid">
    <ul>
        <li>
            <a href="/" class="medium">
                <h1>⚡ Calculator</h1>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/about">
                About
            </a>
        </li>
        <li>
            <label for="switch">
                <input type="checkbox" id="switch" role="switch" @bind="LightTheme">
                <i class="fa fa-lightbulb-o"></i>
            </label>
        </li>
    </ul>
</nav>

@code {
    bool _lightTheme = false;
    bool LightTheme
    {
        get
        {
            return _lightTheme;
        }
        set
        {
            JsRuntime.InvokeVoidAsync("toggleTheme", _lightTheme);
            _lightTheme = !_lightTheme;
        }
    }
}