@page "/"

<PageTitle>Electricity Calculator</PageTitle>

<h1>CALCULATE STUFF</h1>

<section>
    <hr>
    <div class="items-labels items-layout">
        <h3 data-tooltip="Enter item name">ITEM</h3>
        <h3 data-tooltip="Enter item wattage">WATT</h3>
        <h3 data-tooltip="Enter item usage time">USAGE</h3>
        <span></span>
        <h3 data-tooltip="Calculated kilowatt-hours for your item">KWH</h3>
        <h3 data-tooltip="Calculated cost for your item">COST</h3>
        <span></span>
    </div>
    <div class="items">
        @foreach (var itemData in itemList.Items)
        {
            <ItemComponent ItemData="itemData"/>
        }
        <button 
            @onclick="AddItem"
            class="outline add-item-button" 
            data-tooltip="Add a new item like: Microwave, Fridge" 
            data-placement="bottom"
            >ADD ITEM
        </button>    
    </div>
</section>

@code
{
    private ItemList itemList = new();

    private void AddItem()
    {
        itemList.Items.Add(new ItemData());
    }

    protected override void OnInitialized()
    {
        itemList.Items.Add(new ItemData());
    }
}