.result-section * {
  margin: 0;
}

.result-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.375rem;
  margin-bottom: 2rem;
}

.result-section > div {
  display: inline-block;
  align-items: center;
}

.result-section label {
  display: block;
  word-wrap: none;
}

input:disabled {
  background-color: var(--muted-border-color);
  opacity: 1;
}

.items-labels {
  padding: 0.5rem;
}

.items-labels label {
  margin: 0rem;
  font-size: 20px;
  border: none;
  width: min-content;
  position: relative;
}

.info-icon {
  padding-left: 0.125rem;
  opacity: 0.65;
  font-size: 0.75rem;
  position: absolute;
  top: 1px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 2px solid var(--muted-border-color);
  border-radius: var(--border-radius);
}

.add-item-button {
  transition: var(--transition);
  opacity: 0.75;
  border: 1px dashed;
  margin: 0;
  background-color: var(--code-background-color);
}

.add-item-button:hover {
  opacity: 1;
}
