@inject IJSRuntime JsRuntime

<nav class="container-fluid">
    <ul>
        <li><a href="/">⚡ Calculator</a></li>
    </ul>
    <ul>
        <li><a href="/about">About</a></li>
        <li>
            <label for="switch">
                <input type="checkbox" id="switch" role="switch" @bind="DarkTheme">
                @(_darkTheme ? "☀" : "🌛")
            </label>
           
        </li>
    </ul>
</nav>

@code {
    bool _darkTheme = true;
    bool DarkTheme {
        get
        {
            return _darkTheme;
        }
        set {
            JsRuntime.InvokeVoidAsync("toggleTheme", _darkTheme);
            _darkTheme = !_darkTheme;
        }
    }
}